@import "scss/colors";
@import "scss/responsive";


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $color-page-background;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    @include xl {
        margin-left: 20px;
    }
}

.button {
    background-color: $color-green;
    text-decoration: none;
    color: $color-white;
    font-size: 16px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    padding: 27px;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.content-title-wrapper {
        width: 412px;

        .primary-title {
            color: $color-orange;
            font-size: 24px;
            text-transform: uppercase;
            line-height: 33px;
            margin-bottom: 17px;
            margin-top: 0;
        }

        .secondary-title {
            color: $color-green;
            font-size: 41px;
            text-transform: uppercase;
            line-height: 110%;
            margin-bottom: 40px;
        }

        .content-text {
            font-size: 18px;
            line-height: 132%;
            letter-spacing: 0, 04em;
            color: $color-text-gray;
            margin-bottom: 40px;
        }
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 60px;
    @include xl {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-buttons {
        ul {
            gap: 45px;
            display: flex;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;

            ::first-letter {
                font-size: 1.2em;
            }

            li {
                display: inline;

                a {
                    text-decoration: none;
                    color: $color-black;

                    &.header-register-button {
                        background-color: $color-green;
                        color: $color-white;
                        padding: 10px 15px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

.title {
    .title-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 215px;
        margin-bottom: 141px;


        .title-info {
            width: 495px;
            margin-left: 44px;
            position: relative;
            margin-top: 120px;

            .title-info-image {
                position: absolute;
                left: 150px;
            }

            .title-name {
                font-size: 39px;
                line-height: 116%;
                text-transform: uppercase;
                margin-bottom: 24px;
                color: $color-black;
            }

            .title-text {
                font-size: 24px;
                line-height: 132%;
                font-weight: 400;
                color: $color-text-gray;
                margin-bottom: 32px;
            }
        }

        .title-photo {
            width: 100%;
        }
    }
}

.content {
    .content-wrapper {
        .directions {
            .directions-wrapper {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 109px;
                margin-bottom: 147px;
                .directions-content-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 78px;
                    row-gap: 54px;
                    .directions-content {
                        text-decoration: none;
                        padding: 40px 27px 45px 40px;
                        &:hover {
                            background-color: white;
                        }
                        .directions-logo {
                            background-color: $color-white;
                            border-radius: 5px;
                            padding: 12px;
                            margin-bottom: 16px;
                        }
                        .directions-content-title {
                            color:$color-black;
                            font-size: 24px;
                            line-height: 116%;
                            margin-bottom: 6px;
                            margin-top: 0;
                        }
                        .directions-content-text {
                            color: $color-text-gray;
                            font-size: 16px;
                            line-height: 132%;
                            letter-spacing: 0,04em;
                        }
                    }
                }
                .content-title-wrapper {
                    .directions-title-wrapper {
                        position: relative;
                        .directions-background-img {
                            position: absolute;
                            top: -25%;
                            left: -40%;
                        }
                    }
                }
            }
        }
        .about {
            .about-wrapper{
                margin-bottom: 171px;
                .about-title {
                    text-align: center;
                    display: grid;
                    justify-items: center;
                    .about-title-wrapper {
                        width: 100%;
                    }
                }
                .about-content-wrapper {
                    display: flex;
                    gap: 40px;
                    position: relative;
                    .about-content {
                        background-color: $color-white;
                        width: 360px;
                        border-radius: 5px;
                        padding: 78px 50px 72px;
                        z-index: 1;
                        &:nth-of-type(even) {
                            background-color: $color-green;
                        }
                        .about-content-title {
                            font-size: 24px;
                            line-height: 116%;
                            text-transform: uppercase;
                            color: $color-black;
                            margin-bottom: 6px;
                        }
                        .about-content-text {
                            color: $color-text-gray;
                            font-size: 16px;
                            line-height: 132%;
                            letter-spacing: 0.04em;
                            width: 260px;
                            margin: 0;
                        }
                        .text-white {
                                color: $color-white;
                        }
                    }
                    .about-content-background-img {
                        .about-content-background-img-left {
                            position: absolute;
                            left: -34px;
                            bottom: -40px;
                            @include xl {
                                display: none;
                            }
                        }
                        .about-content-background-img-right {
                            position: absolute;
                            right: -90px;
                            bottom: -47px;
                            @include xl {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .company {
            .company-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 165px;
                margin-bottom: 197px;
                .company-content-img {
                    position: relative;
                    z-index: 1;
                    .company-background-img {
                        position: absolute;
                        left: 60px;
                        top: 60px;
                        z-index: -1;
                    }
                }
                .company-title {
                    padding-top: 144px;
                }
            }
        }
        .feedback {
            @include xl {
                margin-right: 20px;
            }
            .feedback-wrapper {
                margin-bottom: 172px;
                .feedback-title-wrapper {
                    .feedback-title {
                        width: 100%;
                        margin-bottom: 50px;
                        .secondary-title {
                            margin: 0;
                        }
                    }
                }
                .feedback-content-wrapper {
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    @include xl {
                        gap: 0;
                        justify-content: space-around;
                    }
                    .hidden {
                        max-width: 100px;
                        overflow: hidden;
                        @include xl {
                            display: none;
                        }
                    }
                    .feedback-content {
                        padding: 49px 32px 32px 40px;
                        background-color: $color-white;
                        .feedback-content-img {
                            padding-bottom: 24px;
                        }
                        .feedback-content-top {
                            display: flex;
                            width: 295px;
                            .feedback-content-right {
                                .feedback-profesion {
                                    font-size: 16px;
                                    line-height: 116%;
                                    color: $color-black;
                                }
                                .feedback-name {
                                    color: $color-text-gray;
                                    font-size: 13px;
                                    line-height: 132%;
                                    letter-spacing: 0.04em;
                                }
                            }

                        }
                        .feedback-content-bottom {
                            .feedback-text {
                                color: $color-text-gray;
                                font-size: 16px;
                                line-height: 132%;
                                letter-spacing: 0.04em;
                                width: 260px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-container {
    background-color: $color-footer;
    padding-top: 97px;
    padding-bottom: 102px;
    .container {
        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 120px;
            @include xl {
                margin-left: 20px;
                margin-right: 20px;
            }
            .footer-about-company-wrapper {
                .footer-description {
                    font-size: 14px;
                    line-height: 132%;
                    letter-spacing: 0.04em;
                    color: $color-text-gray;
                }
                .footer-media {
                    ul {
                        padding: 0;
                        li {
                            display: inline;
                            a {
                                background-color: $color-media;
                                padding: 7px;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
            .footer-company,.footer-support,.footer-contact {
                .footer-title {
                    color: $color-green;
                    font-size: 20px;
                    line-height: 30px;
                }
                ul {
                    list-style-type: none;
                    padding-left: 0;
                    display: grid;
                    gap: 12px;
                    li {
                        
                        a {
                            color: $color-black;
                            text-decoration: none;
                            font-size: 16px;
                            line-height: 26px;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .footer-contact {
                .footer-title {
                    text-transform: uppercase;
                    padding-bottom: 13px;
                }
                #send-message {
                    width: 100%;
                    margin-bottom: 28px;
                }
            }
        }
    }
}